@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v10/rP2Fp2ywxg089UriCZaIGA.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v10/rP2Ap2ywxg089UriCZaw7BymDg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v10/rP2Ap2ywxg089UriCZawpBqmDg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v10/rP2Hp2ywxg089UriOZQ.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v10/rP2Cp2ywxg089UriAWCrOB8.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v10/rP2Cp2ywxg089UriASitOB8.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
.svg-grad-from {
  stop-color: var(--gradient-from);
}
.svg-grad-to {
  stop-color: var(--gradient-to);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: var(--black);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
.link {
  cursor: pointer;
}
html,
body,
.App {
  min-height: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-to));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input:-webkit-autofill {
  background-color: var(--white) !important;
}
.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.font-default {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
.input-required {
  color: var(--error-color);
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}
.logout {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
}
.logout:hover > .icon {
  opacity: 1;
}
.logout:hover > .icon.open {
  display: block;
}
.logout:hover > .icon.close {
  display: none;
}
.logout > .icon {
  opacity: 0.6;
  width: 24px;
  height: 24px;
  color: white;
}
.logout > .icon.open {
  display: none;
}
.buttons {
  display: flex;
}
button {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: pointer;
  border-radius: 50px;
  border: 0;
  opacity: 0.7;
  font-size: 17px;
  font-weight: normal;
  padding: 6px 16px;
}
button > p {
  display: block;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}
button.yes {
  opacity: var(--itp-opacity);
  background-color: var(--itp-error-bg-color);
  color: white;
}
button.yes:hover {
  background-color: var(--itp-error-hover-bg-color);
}
button.no {
  background-color: transparent;
  color: var(--darkestGray);
  border: 2px solid var(--darkestGray);
  opacity: 0.6;
}
button.accept {
  background-color: var(--success-color);
  color: white;
  opacity: 0.8;
}
button.save {
  background-color: #275eff;
  color: white;
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--popup-c-bg-color);
  border-radius: 10px;
  z-index: 10;
}
.popup-container.bg-light {
  background-color: var(--popup-c-bg-color-light);
}
.popup-container > .popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--gradient-input-bg-dark);
  border: solid 1px var(--popup-border-color);
  padding: 60px;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.popup-container > .popup::-webkit-scrollbar {
  display: none;
}
.popup-container > .popup > .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 30px 0 0;
}
.popup-container > .popup > .close > .icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--lightGray);
}
.popup-container > .popup > .close > .icon:hover {
  color: var(--darkGray);
}
.popup-container > .popup .form-input > input,
.popup-container > .popup .form-input > textarea {
  background-color: var(--popup-input-bg-color);
}
.popup-container > .popup.si {
  width: 50%;
}
.popup-container > .popup.si > .si-form {
  width: 100%;
}
.popup-container > .popup.edit {
  max-width: calc(540px - 60px * 2);
  overflow-y: visible;
  width: 50%;
}
.popup-container > .popup.edit > .form {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 60px;
  padding-left: 60px;
}
.popup-container > .popup.edit > .form > h1 {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin: 0;
  margin-bottom: 60px;
  color: var(--black);
}
.popup-container > .popup.edit > .form > .si-form {
  width: 100%;
}
.popup-container > .popup.edit > .form > .si-form > .title > h2 {
  color: var(--black);
  font-size: 22px;
}
.popup-container > .popup.edit > .form > .si-form > .input-container {
  margin-bottom: 30px;
}
.popup-container > .popup.edit > .form > .si-form > .input-container > .form-input {
  width: 100%;
}
.popup-container > .popup.edit > .form > .toggle {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  left: 60px;
  overflow-x: hidden;
}
.popup-container > .popup.edit > .form > .toggle > .tabs {
  display: flex;
}
.popup-container > .popup.edit > .form > .toggle > .tabs > h2 {
  display: block;
  margin: 0;
  margin-left: 25px;
  padding: 0;
  color: var(--lightGray);
  cursor: pointer;
  font-size: 22px;
  font-weight: normal;
}
.popup-container > .popup.edit > .form > .toggle > .tabs > h2:first-of-type {
  margin-left: 0;
}
.popup-container > .popup.edit > .form > .toggle > .tabs > h2.active,
.popup-container > .popup.edit > .form > .toggle > .tabs > h2:hover {
  color: var(--black);
}
.popup-container > .popup.edit > .form > .toggle .list {
  margin-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  left: -60px;
}
.popup-container > .popup.edit > .form > .toggle .list .owner-crown {
  height: 30px !important;
  color: var(--gold);
  display: block !important;
  margin-left: 15px;
}
.popup-container > .popup.edit > .form > .toggle .list .owner-crown > svg {
  height: 30px !important;
}
.popup-container > .popup.edit > .form > .toggle .no-requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--black);
}
.popup-container > .popup.edit > .form > .switch {
  float: left;
  position: relative;
  clear: both;
  width: 100%;
}
.popup-container > .popup.edit > .form > .switch:not(.last) {
  margin-bottom: 30px;
}
.popup-container > .popup.edit > .form > .switch.last {
  margin-bottom: 7px;
}
.popup-container > .popup.edit > .form > .switch > h2 {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  float: left;
  color: var(--black);
  font-size: 22px;
  margin: 0;
  width: 40%;
}
.popup-container > .popup.edit > .form > .switch > .input-toggle {
  float: left;
}
.popup-container > .popup.edit > .form > .switch.help > h2 > b {
  float: left;
  font-weight: 300;
}
.popup-container > .popup.edit > .form > .switch.help > h2 > .icon-tooltip {
  position: relative !important;
  float: left;
  margin-left: 12px;
  top: 2px;
  opacity: var(--itp-opacity);
}
.popup-container > .popup.edit > .form > .switch.help > h2 > .icon-tooltip:hover {
  opacity: 1;
}
.popup-container > .popup.edit > .form > .switch .icon-tooltip.after-switch {
  float: right;
  position: relative !important;
  top: 0;
  left: 0;
  margin-left: 10px;
  height: 29px !important;
  font-size: 23px;
  display: grid;
  align-content: center;
  color: var(--lighteGray);
}
.popup-container > .popup.edit .buttons {
  position: relative;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
.popup-container > .popup.edit .buttons .icon-tooltip {
  position: relative !important;
  margin-right: 20px;
}
.popup-container > .popup.edit .buttons > button {
  font-size: 16px;
  padding: 8px 30px;
}
.popup-container > .popup.edit .buttons > button.no {
  margin-right: 10px;
}
.popup-container > .popup.edit .buttons > button.save {
  margin-left: 10px;
}
.popup-container > .popup.edit .buttons > button.accept {
  font-size: 15px;
  padding: 4px 23px;
}
.popup-container > .popup.warning {
  position: relative;
}
.popup-container > .popup.warning > .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
}
.popup-container > .popup.warning > .icon > .icon-tooltip {
  position: relative;
  display: block;
  margin-right: calc(50% - (50px / 2));
}
.popup-container > .popup.warning > .warning-info {
  text-align: center;
}
.popup-container > .popup.warning > .warning-info > h2 {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-top: 24px;
  font-size: 20px;
  color: var(--black);
}
.popup-container > .popup.warning > .warning-info > h3 {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: var(--gray);
  font-size: 16px;
}
.popup-container > .popup.warning .buttons {
  flex-wrap: wrap;
  margin-top: 30px;
}
.popup-container > .popup.warning .buttons > button {
  padding: 15px 20px;
}
.popup-container > .popup.warning .buttons > button.yes {
  margin-left: 6px;
}
.popup-container > .popup.warning .buttons > button.no {
  margin-right: 6px;
}
.popup-container > .popup .icon-tooltip.submit:not(.circled) {
  color: var(--itp-submit-bg-color);
}
.popup-container > .popup .icon-tooltip.submit:not(.circled) > .icon {
  opacity: var(--itp-opacity);
}
.popup-container > .popup .icon-tooltip.submit:not(.circled):hover {
  opacity: 1;
  color: var(--itp-submit-hover-bg-color);
}
.popup-container > .popup .icon-tooltip.submit.circled {
  background-color: var(--itp-submit-bg-color);
}
.popup-container > .popup .icon-tooltip.submit.circled > .icon {
  opacity: var(--itp-opacity);
}
.popup-container > .popup .icon-tooltip.submit.circled:hover {
  opacity: 1;
  background-color: var(--itp-submit-hover-bg-color);
}
.si-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
  max-width: 536px;
}
.si-form .icon-tooltip {
  position: relative !important;
}
.si-form.r-offset > .title {
  padding-left: 0 !important;
  width: 100%;
}
.si-form:not(.r-offset) > .title {
  padding-left: 46px;
  width: calc(100% - 36px - 10px);
}
.si-form > .title {
  position: relative;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.si-form > .title > h2 {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  display: block;
  float: left;
  font-size: 16px;
  color: white;
  margin: 0;
}
.si-form > .title > .icon-tooltip {
  margin-left: 10px;
  float: left;
  color: var(--black);
  opacity: 0.5;
}
.si-form > .title > .icon-tooltip:hover {
  opacity: 1;
}
.si-form > .input-container {
  width: 100%;
}
.si-form > .input-container > .icon-tooltip {
  float: left;
  top: 7px;
  color: var(--white);
}
.si-form > .input-container > .icon-tooltip:hover > .icon {
  opacity: 0.9 !important;
}
.si-form > .input-container > .icon-tooltip:first-of-type {
  float: left;
  margin-right: 10px;
}
.si-form > .input-container > .icon-tooltip:first-of-type > .icon {
  opacity: var(--sif-back-opacity);
}
.si-form > .input-container > .icon-tooltip:last-of-type {
  float: right;
  margin-left: 10px;
}
.si-form > .input-container > .icon-tooltip:last-of-type > .icon {
  opacity: 0.5;
}
.si-form > .input-container > .form-input {
  width: calc(100% - 36px * 2 - 10px * 2);
  margin-left: 0;
}
.si-form > .input-container.dropdown > .form-input {
  overflow: visible !important;
}
.si-form > .input-container.dropdown > .form-input > input {
  cursor: pointer;
  color: transparent;
}
.si-form > .input-container.dropdown > .form-input.active > input {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.si-form > .input-container.dropdown .dropdown-selected {
  position: absolute;
  max-width: calc(100% - 14px * 2);
  top: 18px;
  height: 32px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 14px;
  pointer-events: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.si-form > .input-container.dropdown .dropdown-selected::-webkit-scrollbar {
  display: none;
}
.si-form > .input-container.dropdown .dropdown-selected > .option {
  height: 24px;
  border-radius: 13px;
  background-color: #d0e3ff;
  line-height: 24px;
  padding: 0 5px 0 7.5px;
  margin-left: 5px;
  cursor: default;
  pointer-events: auto;
}
.si-form > .input-container.dropdown .dropdown-selected > .option:first-of-type {
  margin-left: 0;
}
.si-form > .input-container.dropdown .dropdown-selected > .option > .icon {
  color: #4b7cc5;
  height: 16px;
  margin-left: 8px;
  margin-top: 4px;
  opacity: 0.65;
  cursor: pointer;
}
.si-form > .input-container.dropdown .dropdown-selected > .option > .icon:hover {
  opacity: 1;
}
.si-form > .input-container.dropdown .dropdown-selected > .option > p {
  color: #4b7cc5;
}
.si-form > .input-container.dropdown .dropdown-unselected {
  position: absolute;
  top: 50px;
  width: calc(100% - 14px * 2 - 2px);
  padding: 0 14px;
  border: var(--dropdown-border);
  background-color: var(--dropdown-bg);
  border-top: none;
  border-radius: 0 0 7.5px 7.5px;
  z-index: 99;
  cursor: pointer;
}
.si-form > .input-container.dropdown .dropdown-unselected > .option {
  position: relative;
  width: 100%;
  left: -14px;
  padding: 10px 14px;
}
.si-form > .input-container.dropdown .dropdown-unselected > .option:not(.no-margin) > p {
  margin-left: 15px;
}
.si-form > .input-container.dropdown .dropdown-unselected > .option > p {
  line-height: 30px;
  color: var(--black);
}
.si-form > .input-container.dropdown .dropdown-unselected > .option:hover {
  background-color: var(--dropdown-hover);
}
.si-form > .input-container.dropdown .dropdown-unselected > .option:last-of-type {
  border-radius: 0 0 7.5px 7.5px;
}
.si-form > .input-container.dropdown .option {
  display: flex;
}
.si-form > .input-container.dropdown .option > img,
.si-form > .input-container.dropdown .option .icon,
.si-form > .input-container.dropdown .option p {
  white-space: nowrap;
}
.si-form > .input-container.dropdown .option > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.si-form > .input-container.dropdown .option > .icon {
  font-size: 30px;
  color: var(--lightGray);
}
.si-form > .input-container.dropdown .option > p {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.si-form > .input-container.dropdown.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.si-form > .input-container.dropdown.disabled * {
  pointer-events: none;
}
.si-form.offset {
  left: -23px;
}
.si-form.offset .form-input {
  margin-left: 46px !important;
}
.si-form.in-popup > .title > h2 {
  color: var(--black);
}
.si-form.in-popup .form-input > input,
.si-form.in-popup .form-input > textarea {
  border: solid 1px var(--popup-border-color);
  border-radius: 7.5px;
}
.si-form.double .form-input {
  width: 50% !important;
}
.si-form.double .form-input:first-of-type {
  width: calc(50% - 15px) !important;
  margin-right: 15px;
}
.si-form.double.half {
  width: calc(50% - 20px) !important;
  float: left;
}
.si-form.double.squared-inputs {
  width: calc(50px * 2 + 15px) !important;
}
.si-form.double.squared-inputs .form-input {
  width: 50px !important;
}
.si-form.double.left {
  margin-right: 20px;
}
.si-form.double.right {
  margin-left: 20px;
}
.si-form.double.with-d-squared {
  width: calc(100% - 135px) !important;
}
.si-form.double.with-d-squared .form-input {
  width: 100% !important;
}
.form-input {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 210px;
  height: 50px;
  overflow: hidden;
}
.form-input .font {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
}
.form-input:nth-of-type(2n + 2) {
  margin-left: 8px;
}
.form-input:nth-of-type(n + 3) {
  margin-top: 8px;
}
.form-input .label-filled {
  font-size: 12px;
  line-height: 26px;
  height: 26px;
}
.form-input > label {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  padding: 0 14px 0 14px;
  color: var(--gradient-input-label);
  line-height: 50px;
  pointer-events: none;
  overflow: hidden;
  z-index: 9;
  transition: 0.2s;
  font-weight: 400;
  cursor: text;
}
.form-input > label.never-focused {
  color: var(--black);
}
.form-input > label:not(.never-focused).filled {
  font-size: 12px;
  line-height: 26px;
  height: 26px;
}
.form-input > label > svg {
  position: relative;
  top: 1px;
}
.form-input > .input-before-img > svg,
.form-input > .input-before-img img {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 15px;
  margin-top: 12px;
  z-index: 2;
}
.form-input > input,
.form-input > textarea {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  float: left;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 0 14px 0 14px;
  color: var(--darkestGray);
  background-color: var(--gradient-input-bg);
  border: none;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.form-input > input:not(.never-focused):focus,
.form-input > textarea:not(.never-focused):focus,
.form-input > input:not(.never-focused).filled,
.form-input > textarea:not(.never-focused).filled,
.form-input > input:not(.never-focused):-webkit-autofill,
.form-input > textarea:not(.never-focused):-webkit-autofill {
  padding-top: 18px;
}
.form-input > input:not(.never-focused):focus ~ label,
.form-input > textarea:not(.never-focused):focus ~ label {
  font-size: 12px;
  line-height: 26px;
  height: 26px;
}
.form-input > input:not(.never-focused):-webkit-autofill + label,
.form-input > textarea:not(.never-focused):-webkit-autofill + label {
  font-size: 12px;
  line-height: 26px;
  height: 26px;
}
.form-input > input.with-image + label,
.form-input > textarea.with-image + label {
  padding-left: 55px;
}
.form-input > textarea {
  resize: none;
}
.form-input > textarea:not(.never-focused):focus,
.form-input > textarea:not(.never-focused).filled,
.form-input > textarea:not(.never-focused):-webkit-autofill {
  padding-top: 22px;
}
.form-input.error > label {
  color: var(--error-color) !important;
  font-weight: 500;
}
.form-input.height-2x {
  height: 100px;
}
.form-input.height-3x {
  height: 150px;
}
.form-input.height-4x {
  height: 200px;
}
.form-input.height-5x {
  height: 250px;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .generic-input input[type='checkbox'],
  .generic-input input[type='radio'] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 29px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .generic-input input[type='checkbox']:after,
  .generic-input input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .generic-input input[type='checkbox']:checked,
  .generic-input input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .generic-input input[type='checkbox']:disabled,
  .generic-input input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .generic-input input[type='checkbox']:disabled:checked,
  .generic-input input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .generic-input input[type='checkbox']:disabled + label,
  .generic-input input[type='radio']:disabled + label {
    cursor: not-allowed;
  }
  .generic-input input[type='checkbox']:hover:not(:checked):not(:disabled),
  .generic-input input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .generic-input input[type='checkbox']:focus,
  .generic-input input[type='radio']:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .generic-input input[type='checkbox']:not(.switch),
  .generic-input input[type='radio']:not(.switch) {
    width: 29px;
  }
  .generic-input input[type='checkbox']:not(.switch):after,
  .generic-input input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
  }
  .generic-input input[type='checkbox']:not(.switch):checked,
  .generic-input input[type='radio']:not(.switch):checked {
    --o: 1;
  }
  .generic-input input[type='checkbox'] + label,
  .generic-input input[type='radio'] + label {
    font-size: 14px;
    line-height: 29px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  .generic-input input[type='checkbox'] {
    opacity: var(--checkbox-opacity);
  }
  .generic-input input[type='checkbox']:not(.switch) {
    border-radius: 7px;
  }
  .generic-input input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .generic-input input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
  }
  .generic-input input[type='checkbox'].switch {
    width: 50px;
    border-radius: 50px;
  }
  .generic-input input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  .generic-input input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 21px;
  }
  .generic-input input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  .generic-input input[type='radio'] {
    border-radius: 50%;
  }
  .generic-input input[type='radio']:after {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  .generic-input input[type='radio']:checked {
    --s: 0.5;
  }
}
.logo {
  position: fixed;
  display: inline-block;
  background-image: url('../../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
}
.logo.big {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}
.logo.medium {
  top: 15%;
  width: 500px;
  height: 234px;
  opacity: 0;
  pointer-events: none;
  background-size: contain;
}
.logo.small {
  width: 160px;
  height: 75px;
  bottom: 0;
  right: 0;
  margin: 0 30px 15px 0;
  opacity: 0.3;
  background-size: contain;
  cursor: pointer;
}
.logo.small:hover {
  opacity: 1;
}
.notif-container {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  opacity: 0;
  z-index: 99999;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 82px;
  margin-top: 30px;
  pointer-events: none;
}
.notif-container > :first-child:not(.notif-list) > .notification {
  margin-left: 59px;
}
.notif-container > .notif-list,
.notif-container .notif-current {
  height: 82px;
}
.notif-container > .notif-list {
  position: relative;
  width: 468px;
}
.notif-container > .notif-list:first-child:nth-last-child(3) ~ .notif-list:last-child {
  top: -41px;
}
.notif-container > .notif-list:first-child:nth-last-child(3):first-child {
  top: 41px;
}
.notif-container > .notif-list.prev {
  right: 527px;
}
.notif-container > .notif-list.prev > .notification:first-child {
  background: linear-gradient(to right, var(--transparentWhite) 75%, var(--notif-background-to) 100%);
}
.notif-container > .notif-list.prev > .notification > .text,
.notif-container > .notif-list.prev > .notification > .icon,
.notif-container > .notif-list.prev > .notification > .line-container > .vertical-line {
  display: none;
}
.notif-container > .notif-list.next {
  left: 527px;
}
.notif-container > .notif-list.next > .notification:first-child {
  background: linear-gradient(to left, var(--transparentWhite) 75%, var(--notif-background-to) 100%);
}
.notif-container > .notif-list.next > .notification > .text,
.notif-container > .notif-list.next > .notification .close {
  display: none;
}
.notif-container > .notif-list > .notification:not(:first-child) {
  display: none;
}
.notif-container > .notif-current {
  position: absolute;
  width: 586px;
}
.notif-container > .notif-current > .nav {
  position: relative;
  display: inline;
  opacity: 0.7;
  width: 19px;
  height: 82px;
  line-height: 64px;
  color: var(--white);
  cursor: pointer;
  padding: 0 20px 0 20px;
  pointer-events: auto;
}
.notif-container > .notif-current > .nav.prev {
  float: left;
}
.notif-container > .notif-current > .nav.next {
  position: absolute;
  float: right;
}
.notif-container > .notif-current > .nav:hover {
  opacity: 1;
}
.notif-container > .notif-current .notification {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px var(--oapp-border);
  pointer-events: auto;
}
.notif-container > .notif-current .notification:hover {
  height: auto;
}
.notif-container > .notif-current .notification:hover > .text {
  height: auto;
}
.notif-container > .notif-current .notification:hover > .text > h1,
.notif-container > .notif-current .notification:hover > .text > p {
  height: auto;
  white-space: normal;
}
.notif-container .notification {
  float: left;
  position: relative;
  width: 450px;
  height: 64px;
  padding: 9px;
  border-radius: 10px;
  background-color: var(--gradient-input-bg);
  opacity: 0;
}
.notif-container .notification.error > .icon {
  color: var(--error-color);
}
.notif-container .notification.error > .line-container > .vertical-line {
  background-color: var(--error-color);
}
.notif-container .notification.warning > .icon {
  color: var(--warning-color);
}
.notif-container .notification.warning > .line-container > .vertical-line {
  background-color: var(--warning-color);
}
.notif-container .notification.info > .icon {
  color: var(--info-color);
}
.notif-container .notification.info > .line-container > .vertical-line {
  background-color: var(--info-color);
}
.notif-container .notification.success > .icon {
  color: var(--success-color);
}
.notif-container .notification.success > .line-container > .vertical-line {
  background-color: var(--success-color);
}
.notif-container .notification > .line-container {
  position: absolute;
  display: block;
  width: calc(100% - 9px * 2);
  height: calc(100% - 9px * 2);
}
.notif-container .notification > .line-container > .vertical-line {
  position: relative;
  float: left;
  left: 0;
  width: 6px;
  height: 100%;
  border-radius: 10px;
}
.notif-container .notification > .icon {
  float: left;
  width: 28px;
  height: 64px;
  margin: 0 18px 0 22px;
}
.notif-container .notification > .text {
  position: relative;
  float: left;
  height: 64px;
  width: 316px;
}
.notif-container .notification > .text > h1,
.notif-container .notification > .text p {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
}
.notif-container .notification > .text > h1 {
  font-size: 18px;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 0;
  margin-top: 9px;
}
.notif-container .notification > .text > p {
  font-size: 15px;
  color: var(--gray);
  margin-top: 0;
  margin-bottom: 0;
}
.notif-container .notification > .close {
  float: right;
  display: inline;
  top: -82px;
  width: 12px;
  height: 64px;
  margin-right: 15px;
  opacity: var(--notif-close-opacity);
  color: var(--black);
  cursor: pointer;
}
.notif-container .notification > .close:hover {
  opacity: 0.7;
}
.tooltip-container {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.tooltip-container.parent-centered {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tooltip-container.parent-centered > .tooltip {
  position: absolute;
  bottom: 4px;
}
.tooltip-container.parent-centered > .tooltip.over {
  bottom: -16px;
}
.tooltip-container > .tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 500px;
  text-align: center;
  z-index: 999;
}
.tooltip-container > .tooltip.over {
  bottom: -16px;
}
.tooltip-container > .tooltip > p {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--tooltip-color);
  margin: 0;
  padding: 8.5px 17px;
  background-color: var(--tooltip-bg-color);
  border-radius: 24px;
  min-width: 80px;
  opacity: var(--tooltip-opacity);
  white-space: initial;
}
.tooltip-container > .tooltip > .triangle {
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 16px solid var(--tooltip-bg-color);
}
.icon-tooltip.circled {
  background-color: var(--lightGray);
  border-radius: 200px;
  color: white;
}
.icon-tooltip.circled:hover {
  background-color: var(--gray);
}
.icon-tooltip.circled.error {
  opacity: var(--itp-error-opacity);
  background-color: var(--itp-error-bg-color);
}
.icon-tooltip.circled.error:hover {
  opacity: 1;
  background-color: var(--itp-error-hover-bg-color);
}
.icon-tooltip:not(.circled).error {
  opacity: var(--itp-opacity);
  color: var(--itp-error-bg-color);
}
.icon-tooltip:not(.circled).error:hover {
  opacity: 1;
  color: var(--itp-error-hover-bg-color);
}
