@import '_global.less';

#logo {
  .logo();

  position: fixed;
  bottom: 0;
  right: 0;

  margin: 30px;

  > h1 {
    font-size: 46px;
  }
}

#apps-container {
  position: relative;
  overflow: hidden;
  width: 70%;

  > #apps {
    position: relative;
    @app-size: 176px;
    @margin: 9px;

    > .app-container {
      position: relative;
      float: left;
      width: @app-size;
      height: @app-size;
      margin: @margin;
      cursor: pointer;

      > .app {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color: var(--gradient-input-bg);
        color: var(--apps-icon-color);
        border-radius: 10px;

        > svg {
          font-size: 70px;
          height: 100%;
        }
      }

      &:hover {
        > .app {
          @new-app-size: 162px;
          width: @new-app-size;
          height: @new-app-size;
          margin: ((@app-size - @new-app-size) / 2);

          > svg {
            font-size: 64px;
          }
        }
      }
    }
  }
}
