// #region variables/maps

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

@appBR: 10px;
@appBS: 0 0 10px 0 rgba(0, 0, 0, 0.1);

#global() {
  .bg() {
    gradient: linear-gradient(
      to bottom right,
      var(--gradient-from),
      var(--gradient-to)
    );
  }
}

.svg-grad-from {
  stop-color: var(--gradient-from);
}
.svg-grad-to {
  stop-color: var(--gradient-to);
}

#fonts() {
  .family() {
    ss: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
    s: 'Times new roman', serif;
  }
}

// #endregion

// #region global classes/ids/tags

html,
body,
.App {
  min-height: 400px;
  // min-width: 1000px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  position: absolute;
  width: 100%;
  overflow: hidden;

  @bg: #global.bg();
  background-image: @bg[gradient];
  .centered();
}

input:-webkit-autofill {
  background-color: var(--white) !important;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.font-default {
  @family: #fonts.family();
  font-family: @family[ss];
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

// #endregion

// #region Single Input Popup

.popup-container {
  .centered();

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: @appBR;
  z-index: 10;

  > .si-popup,
  .warning-popup {
    .centered();
    background-color: var(--gradient-input-bg);
    border: solid 1px var(--lighteGray);
    padding: 60px;
    width: 50%;
    height: auto;
    border-radius: @appBR;
    box-shadow: @appBS;
  }

  > .si-popup {
    > .si-form {
      width: 100%;
    }
  }

  > .warning-popup {
    position: relative;
  }
}

// #endregion

// #region Single Input Form

.si-form {
  @iconSize: 36px;
  @iconMargin: 10px;

  .centered();

  position: relative;
  max-width: 536px;
  width: 80%;

  position: relative;
  max-width: 536px;

  .icon-tooltip {
    position: relative !important;
  }

  > .title {
    position: relative;
    width: calc(100% - @iconSize - @iconMargin);
    padding-left: @iconSize + @iconMargin;
    margin-bottom: 12px;

    > h2 {
      .font-default();

      display: block;
      float: left;
      font-size: 16px;
      color: var(--white);
      margin: 0;
    }

    > .icon-tooltip {
      margin-left: 10px;
      float: left;
      color: var(--black);
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  > .input-container {
    width: 100%;

    > .icon-tooltip {
      float: left;
      top: 7px;
      color: var(--white);

      &:hover {
        > .icon {
          opacity: 0.9 !important;
        }
      }

      &:first-of-type {
        float: left;
        margin-right: @iconMargin;

        > .icon {
          opacity: 0.25;
        }
      }

      &:last-of-type {
        float: right;
        margin-left: @iconMargin;

        > .icon {
          opacity: 0.6;
        }
      }
    }

    > .form-input {
      width: calc(100% - @iconSize * 2 - @iconMargin * 2);
      margin-left: 0;
    }
  }

  &.offset {
    left: -((@iconMargin + @iconSize) / 2);

    .form-input {
      margin-left: @iconMargin + @iconSize !important;
    }
  }

  &.in-popup {
    > .title > h2 {
      color: var(--black);
    }

    > .input-container .icon-tooltip {
      color: var(--info-color);
    }

    .form-input > input {
      border: solid 1px var(--lighteGray);
      border-radius: 7.5px;
    }
  }
}

// #endregion

// #region input

.form-input {
  @height: 50px;

  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 210px;
  height: @height;

  .font {
    .font-default();

    font-size: 14px;
    font-weight: 500;
  }

  &:nth-of-type(2n + 2) {
    margin-left: 8px;
  }
  &:nth-of-type(n + 3) {
    margin-top: 8px;
  }

  .label-filled {
    font-size: 12px;
    line-height: 26px;
    height: 26px;
  }

  > label {
    .font();
    .noselect();

    position: absolute;
    top: 0;
    left: 0;
    height: @height;
    padding: 0 14px 0 14px;
    color: var(--gradient-input-label);
    line-height: @height;
    pointer-events: none;
    overflow: hidden;
    z-index: 9;
    transition: 0.2s;
    font-weight: 400;
    cursor: text;

    &.filled {
      .label-filled();
    }
  }

  > input {
    .font();

    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 0 14px 0 14px;
    color: var(--darkestGray);
    background-color: var(--gradient-input-bg);
    border: none;
    outline: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &:focus,
    &.filled,
    &:-webkit-autofill {
      padding-top: 18px;
    }

    &:focus ~ label {
      .label-filled();
    }

    &:-webkit-autofill + label {
      .label-filled();
    }
  }

  &.error {
    > label {
      color: var(--error-color) !important;
      font-weight: 500;
    }
  }
}

// #endregion

// #region logo

.logo {
  position: fixed;
  display: inline-block;

  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;

  &.big {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    // background-size: 60%;
  }

  &.small {
    width: 160px;
    height: 75px;
    bottom: 0;
    right: 0;
    margin: 0 30px 15px 0;
    opacity: 0.3;
    background-size: contain;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

// #endregion

// #region notifications

.notif-container {
  .noselect();

  @padding: 9px;
  @height: 82px - (@padding * 2);
  @width: 468px - (@padding * 2);
  @navMargin: 20px;
  @navWidth: 19px;

  opacity: 0;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: @height + (@padding * 2);
  margin-top: 30px;

  > :first-child:not(.notif-list) > .notification {
    margin-left: 59px;
  }

  > .notif-list,
  .notif-current {
    height: @height + (@padding * 2);
  }

  > .notif-list {
    position: relative;
    width: @width + (@padding * 2); //x

    &:first-child:nth-last-child(3) ~ .notif-list {
      &:last-child {
        top: -41px;
      }
    }
    &:first-child:nth-last-child(3) {
      &:first-child {
        top: 41px;
      }
    }

    .notif-bg(@dir) {
      background: linear-gradient(
        to @dir,
        var(--transparentWhite) 75%,
        var(--notif-background-to) 100%
      );
    }

    &.prev {
      right: @width + (@padding * 2) + @navWidth + @navMargin * 2;

      > .notification {
        &:first-child {
          .notif-bg(@dir:right);
        }

        > .text,
        .icon,
        .vertical-line {
          display: none;
        }
      }
    }

    &.next {
      left: @width + (@padding * 2) + @navWidth + @navMargin * 2;

      > .notification {
        &:first-child {
          .notif-bg(@dir:left);
        }

        > .text,
        .close {
          display: none;
        }
      }
    }

    > .notification {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  > .notif-current {
    position: absolute;
    width: @width + (@padding * 2) + @navWidth * 2 + @navMargin * 4;

    > .nav {
      position: relative;
      display: inline;
      opacity: 0.7;
      width: @navWidth;
      height: @height + (@padding * 2);
      line-height: @height;
      color: var(--white);
      cursor: pointer;
      padding: 0 @navMargin 0 @navMargin;

      &.prev {
        float: left;
      }

      &.next {
        float: right;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .notification {
    @lineWidth: 6px;
    @iconWidth: 28px;
    @iconMarginLeft: 22px;
    @iconMarginRight: 18px;
    @closeWidth: 12px;
    @closeMarginRight: 15px;

    float: left;
    position: relative;
    width: @width;
    height: @height;
    padding: @padding;
    border-radius: 10px;
    background-color: var(--gradient-input-bg);
    opacity: 0;

    &.error {
      > .icon {
        color: var(--error-color);
      }
      > .vertical-line {
        background-color: var(--error-color);
      }
    }

    &.warning {
      > .icon {
        color: var(--warning-color);
      }
      > .vertical-line {
        background-color: var(--warning-color);
      }
    }

    &.info {
      > .icon {
        color: var(--info-color);
      }
      > .vertical-line {
        background-color: var(--info-color);
      }
    }

    &.success {
      > .icon {
        color: var(--success-color);
      }
      > .vertical-line {
        background-color: var(--success-color);
      }
    }

    > .vertical-line {
      position: relative;
      float: left;
      left: 0;
      width: @lineWidth;
      height: 100%;
      border-radius: 3px;
    }

    > .icon {
      float: left;
      width: @iconWidth;
      height: @height;
      margin: 0 @iconMarginRight 0 @iconMarginLeft;
    }

    > .text {
      position: relative;
      float: left;
      height: @height;
      width: @width -
        (
          @padding * 2 + @lineWidth + @iconWidth + @iconMarginLeft +
            @iconMarginRight + @closeMarginRight * 2 + @closeWidth
        );

      > h1,
      p {
        .font-default();
        white-space: nowrap;
        overflow: hidden;
      }

      > h1 {
        font-size: 18px;
        font-weight: 300;
        color: var(--black);
        margin-bottom: 0;
        margin-top: 9px;
      }

      > p {
        font-size: 15px;
        color: var(--gray);
        margin-top: 0;
      }
    }

    > .close {
      float: right;
      display: inline;
      top: -(@height + (@padding * 2));
      width: @closeWidth;
      height: @height;
      margin-right: @closeMarginRight;
      opacity: var(--notif-close-opacity);
      color: var(--black);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// #endregion

// #region tooltip

.tooltip-container {
  .noselect();

  &.parent-centered {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    .centered();

    > .tooltip {
      position: absolute;
      bottom: 4px;

      &.over {
        bottom: -16px;
      }
    }
  }

  > .tooltip {
    .centered();
    width: auto;
    max-width: 500px;
    text-align: center;

    &.over {
      bottom: -16px;
    }

    > p {
      .font-default();
      font-size: 16px;
      color: white;
      margin: 0;
      padding: 8.5px 17px;
      background-color: rgba(49, 24, 24, 0.7);
      border-radius: 24px;
      min-width: 80px;
    }

    > .triangle {
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;

      border-top: 16px solid rgba(49, 24, 24, 0.7);
    }
  }
}

// #endregion

// #region IconToolTip

.icon-tooltip {
  &.circled {
    background-color: var(--lightGray);
    border-radius: 200px;
    color: white;

    &:hover {
      background-color: var(--gray);
    }

    &.error {
      opacity: 0.7;
      background-color: var(--error-color);

      &:hover {
        opacity: 1;
      }
    }
  }

  &.error:not(.circled) {
    opacity: 0.7;
    color: var(--error-color);

    &:hover {
      opacity: 1;
    }
  }
}

// #endregion
