@import (reference) 'global.less';

.open-app-container {
  @app-padding: 60px;

  position: relative;
  width: 70%;
  height: auto;
  background-color: var(--gradient-input-bg);
  border-radius: @appBR;
  padding: @app-padding;
  box-shadow: @appBS;
  border: var(--oapp-border);

  > .headers {
    > div:last-child {
      margin-bottom: 60px;
    }

    > .header {
      display: block;
      float: left;
      height: auto;
      margin-bottom: 26px;

      > .add-btn {
        top: @app-padding + 4;
        margin-right: @app-padding;
        color: var(--black);

        &:hover {
          color: var(--success-color);
          opacity: 0.9;
        }
      }

      > h1 {
        .font-default();
        font-size: 36px;
        margin: 0;
        color: var(--black);
      }
    }

    > .sub-header {
      position: relative;
      width: 100%;
      height: auto;
      float: left;

      > .tabs,
      > .options {
        display: block;
      }

      > .tabs {
        float: left;
      }

      > .options {
        float: right;
      }

      h2 {
        .font-default();
        .noselect();

        display: inline-block;
        width: auto;
        font-size: 18px;
        color: var(--lightGray);
        margin: 0;
        margin-right: 36px;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }

        &.selected {
          color: var(--black);
        }

        &:hover {
          color: var(--black);
        }
      }
    }
  }

  > .app-body {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    top: 0;
    left: 0;
  }

  &.homes {
    max-width: 1000px;
    min-width: 700px - @app-padding * 2;
    max-height: 70%;
    min-height: 600px - @app-padding * 2;
  }
}
