<html>

<head>
    <!-- JQUERY -->

    <script type="text/javascript" src="/js/jquery.min.js"></script>

    <!-- BOOTSTRAP -->

    <!-- <link rel="stylesheet/less" type="text/css" href="/bootstrap/css/bootstrap-material-design.min.css" />
    <script type="text/javascript" src="/bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap-material-design.min.js"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script> -->

    <!-- FONT AWESOME -->

    <link rel="stylesheet/less" type="text/css" href="/fontawesome/css/all.min.css" />

    <!-- CSS -->

    <link rel="stylesheet/less" type="text/css" href="/css/index.css" />

    <!-- JAVASCRIPT -->

    <script type="text/javascript" src="/js/less.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</head>

<body>
    <div id="container">
        <div id="logo">
            <h2>Flatsharing made simple</h2>
            <h1>Cotulity</h1>
        </div>
        <form id="login" action="/authenticate" method="post">
            <input type="text" name="isLogin" value="1" hidden>
            <input type="submit" hidden>
            
            <div class="form-input">
                <input id="email" type="email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="form-input">
                <input id="password" type="password" name="password">
                <label for="password">Password</label>
            </div>
            
            <i class="fas fa-arrow-alt-circle-right submit-go"></i>
            <i class="fas fa-circle-notch fa-spin-fast submit-load" style="display:none;"></i>

            <div class="form-input signup">
                <input id="phone" type="phone" name="phone">
                <label for="phone">Phone</label>
            </div>
            <div class="form-input signup">
                <input id="cpassword" type="password">
                <label for="cpassword">Confirm Password</label>
            </div>
            <div class="form-input signup">
                <input id="firstname" type="text" name="firstname">
                <label for="firstname">Firstname</label>
            </div>
            <div class="form-input signup">
                <input id="lastname" type="text" name="lastname">
                <label for="lastname">Lastname</label>
            </div>

            <p class="login-p"><i>Don't have an account?</i> <i>Sign up</i></p>
            <p class="signup-p"><i>Already a member?</i> <i>Log in</i></p>
        </form>
    </div>
</body>

</html>