.si-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
  max-width: 536px;
}
.si-form .icon-tooltip {
  position: relative !important;
}
.si-form.r-offset > .title {
  padding-left: 0 !important;
  width: 100%;
}
.si-form:not(.r-offset) > .title {
  padding-left: 46px;
  width: calc(100% - 36px - 10px);
}
.si-form > .title {
  position: relative;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.si-form > .title > h2 {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  display: block;
  float: left;
  font-size: 16px;
  color: white;
  margin: 0;
}
.si-form > .title > .icon-tooltip {
  margin-left: 10px;
  float: left;
  color: var(--black);
  opacity: 0.5;
}
.si-form > .title > .icon-tooltip:hover {
  opacity: 1;
}
.si-form > .input-container {
  width: 100%;
}
.si-form > .input-container > .icon-tooltip {
  float: left;
  top: 7px;
  color: var(--white);
}
.si-form > .input-container > .icon-tooltip:hover > .icon {
  opacity: 0.9 !important;
}
.si-form > .input-container > .icon-tooltip:first-of-type {
  float: left;
  margin-right: 10px;
}
.si-form > .input-container > .icon-tooltip:first-of-type > .icon {
  opacity: var(--sif-back-opacity);
}
.si-form > .input-container > .icon-tooltip:last-of-type {
  float: right;
  margin-left: 10px;
}
.si-form > .input-container > .icon-tooltip:last-of-type > .icon {
  opacity: 0.5;
}
.si-form > .input-container > .form-input {
  width: calc(100% - 36px * 2 - 10px * 2);
  margin-left: 0;
}
.si-form > .input-container.dropdown > .form-input {
  overflow: visible !important;
}
.si-form > .input-container.dropdown > .form-input > input {
  cursor: pointer;
  color: transparent;
}
.si-form > .input-container.dropdown > .form-input.active > input {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.si-form > .input-container.dropdown .dropdown-selected {
  position: absolute;
  max-width: calc(100% - 14px * 2);
  top: 18px;
  height: 32px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 14px;
  pointer-events: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.si-form > .input-container.dropdown .dropdown-selected::-webkit-scrollbar {
  display: none;
}
.si-form > .input-container.dropdown .dropdown-selected > .option {
  height: 24px;
  border-radius: 13px;
  background-color: #d0e3ff;
  line-height: 24px;
  padding: 0 5px 0 7.5px;
  margin-left: 5px;
  cursor: default;
  pointer-events: auto;
}
.si-form > .input-container.dropdown .dropdown-selected > .option:first-of-type {
  margin-left: 0;
}
.si-form > .input-container.dropdown .dropdown-selected > .option > .icon {
  color: #4b7cc5;
  height: 16px;
  margin-left: 8px;
  margin-top: 4px;
  opacity: 0.65;
  cursor: pointer;
}
.si-form > .input-container.dropdown .dropdown-selected > .option > .icon:hover {
  opacity: 1;
}
.si-form > .input-container.dropdown .dropdown-selected > .option > p {
  color: #4b7cc5;
}
.si-form > .input-container.dropdown .dropdown-unselected {
  position: absolute;
  top: 50px;
  width: calc(100% - 14px * 2 - 2px);
  padding: 0 14px;
  border: var(--dropdown-border);
  background-color: var(--dropdown-bg);
  border-top: none;
  border-radius: 0 0 7.5px 7.5px;
  z-index: 99;
  cursor: pointer;
}
.si-form > .input-container.dropdown .dropdown-unselected > .option {
  position: relative;
  width: 100%;
  left: -14px;
  padding: 10px 14px;
}
.si-form > .input-container.dropdown .dropdown-unselected > .option:not(.no-margin) > p {
  margin-left: 15px;
}
.si-form > .input-container.dropdown .dropdown-unselected > .option > p {
  line-height: 30px;
  color: var(--black);
}
.si-form > .input-container.dropdown .dropdown-unselected > .option:hover {
  background-color: var(--dropdown-hover);
}
.si-form > .input-container.dropdown .dropdown-unselected > .option:last-of-type {
  border-radius: 0 0 7.5px 7.5px;
}
.si-form > .input-container.dropdown .option {
  display: flex;
}
.si-form > .input-container.dropdown .option > img,
.si-form > .input-container.dropdown .option .icon,
.si-form > .input-container.dropdown .option p {
  white-space: nowrap;
}
.si-form > .input-container.dropdown .option > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.si-form > .input-container.dropdown .option > .icon {
  font-size: 30px;
  color: var(--lightGray);
}
.si-form > .input-container.dropdown .option > p {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.si-form > .input-container.dropdown.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.si-form > .input-container.dropdown.disabled * {
  pointer-events: none;
}
.si-form.offset {
  left: -23px;
}
.si-form.offset .form-input {
  margin-left: 46px !important;
}
.si-form.in-popup > .title > h2 {
  color: var(--black);
}
.si-form.in-popup .form-input > input {
  border: solid 1px var(--popup-border-color);
  border-radius: 7.5px;
}
.si-form.double .form-input {
  width: 50% !important;
}
.si-form.double .form-input:first-of-type {
  width: calc(50% - 15px) !important;
  margin-right: 15px;
}
.si-form.double.half {
  width: calc(50% - 20px) !important;
  float: left;
}
.si-form.double.squared-inputs {
  width: calc(50px * 2 + 15px) !important;
}
.si-form.double.squared-inputs .form-input {
  width: 50px !important;
}
.si-form.double.left {
  margin-right: 20px;
}
.si-form.double.right {
  margin-left: 20px;
}
.si-form.double.with-d-squared {
  width: calc(100% - 135px) !important;
}
.si-form.double.with-d-squared .form-input {
  width: 100% !important;
}
