.open-app-container {
  position: relative;
  width: 70%;
  height: auto;
  max-height: calc(90% - 60px * 2);
  background-color: var(--gradient-input-bg);
  border-radius: 10px;
  padding: 60px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: var(--oapp-border);
}
.open-app-container .headers {
  display: flex;
  flex-direction: column;
}
.open-app-container .headers > div:last-of-type {
  margin-bottom: 60px;
}
.open-app-container > .app-body {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
}
.open-app-container > .app-body .fill-height.over-hidden {
  overflow-y: hidden;
  overflow-x: hidden;
}
.open-app-container > .app-body:hover .fill-height.over-hidden {
  overflow-y: auto;
}
