.open-app-container.calendar {
  max-width: 1200px;
  min-height: 50%;
  min-width: 800px;
}
.open-app-container.calendar .popup.edit > .popup-container {
  z-index: 9999999;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event {
  max-width: 400px;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event div {
  float: left;
  clear: both;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event h3,
.open-app-container.calendar .calendar-event-popup .popup > .info-event h4 {
  color: var(--lightGray);
  font-weight: 300;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event h3 > b,
.open-app-container.calendar .calendar-event-popup .popup > .info-event h4 > b {
  color: var(--black);
  font-weight: 300;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .title {
  width: 100%;
  padding-bottom: 20px;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .title h2 {
  font-weight: 500;
  color: var(--black);
  float: left;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .title svg {
  float: right;
  color: var(--lightGray);
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .title svg:hover {
  color: var(--black);
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .img-text {
  margin-bottom: 6px;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .img-text svg {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
  width: 15px;
  color: var(--black);
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .img-text h3 {
  float: left;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .participants {
  margin-top: 10px;
  margin-bottom: 10px;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .participants h3 {
  margin-bottom: 8px;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .participants > .imgs {
  overflow-y: hidden;
  overflow-x: auto;
  float: left;
  display: flex;
  max-width: 400px;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .participants > .imgs svg,
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .participants > .imgs img {
  float: left;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: var(--black);
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .notes {
  margin-top: 5px;
  width: 100%;
  text-align: justify;
}
.open-app-container.calendar .calendar-event-popup .popup > .info-event > .notes h4 {
  margin-top: 5px;
  font-size: 15px;
}
.open-app-container.calendar .app-body {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
.open-app-container.calendar .app-body .fc .fc-toolbar-title {
  font-weight: 700;
  color: var(--darkestGray);
  text-align: center;
  line-height: 95%;
}
.open-app-container.calendar .app-body .fc .fc-toolbar-title > b {
  color: var(--gray);
  font-size: 14px;
  position: relative;
  font-weight: 500;
}
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk:nth-of-type(2) {
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
}
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk > .fc-button,
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk > .fc-button-group > .fc-button {
  background-color: var(--calendar-header-btn-bg);
  color: var(--calendar-header-btn-color);
}
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk > .fc-button:hover,
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk > .fc-button-group > .fc-button:hover {
  background-color: var(--calendar-header-btn-bg-hover);
}
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk > .fc-button {
  border-radius: 50px;
  padding: 9px 15px;
}
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk .fc-button-group > .fc-button {
  padding: 8px 15px;
}
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk .fc-button-group > .fc-button:first-of-type {
  border-radius: 50px 0 0 50px;
}
.open-app-container.calendar .app-body .fc .fc-toolbar-chunk .fc-button-group > .fc-button:last-of-type {
  border-radius: 0 50px 50px 0;
}
.open-app-container.calendar .app-body .fc .fc-scrollgrid {
  border-radius: 15px 15px 0 0;
}
.open-app-container.calendar .app-body .fc .fc-scrollgrid .fc-scrollgrid-section-header > td {
  border-radius: 15px 15px 0 0;
}
.open-app-container.calendar .app-body .fc .fc-view-harness {
  background-color: var(--calendar-bg);
  border-radius: 15px 15px 0 0;
}
.open-app-container.calendar .app-body .fc .fc-col-header-cell {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.open-app-container.calendar .app-body .fc .fc-col-header-cell a {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--calendar-header-color);
  padding: 20px 0;
}
.open-app-container.calendar .app-body .fc .fc-daygrid-day-number {
  color: var(--gray);
  padding: 8px;
  font-weight: 500;
}
.open-app-container.calendar .app-body .fc .fc-day-other {
  background-image: var(--calendar-disabled-bg);
}
.open-app-container.calendar .app-body .fc .fc-day-other .fc-daygrid-event {
  opacity: 0.6;
}
.open-app-container.calendar .app-body .fc .fc-day-today {
  background-color: var(--calendar-today-bg);
}
.open-app-container.calendar .app-body .fc .fc-event {
  border-radius: 0;
  border-left: 3px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  padding: 5px;
  margin-bottom: 2px;
}
.open-app-container.calendar .app-body .fc .fc-event .fc-event-title,
.open-app-container.calendar .app-body .fc .fc-event .fc-event-time {
  font-size: 14px;
}
.open-app-container.calendar .app-body .fc .fc-event .fc-daygrid-event-dot {
  display: none;
}
.open-app-container.calendar .app-body .fc * {
  border-color: var(--calendar-borders);
}
.open-app-container.calendar .fc-event.blue,
.open-app-container.calendar .participants > .imgs > svg.blue {
  background-color: var(--calendar-event-blue);
  border-color: var(--calendar-event-blue-o) !important;
  color: var(--calendar-event-blue-o) !important;
}
.open-app-container.calendar .fc-event.blue .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.blue .fc-event-title,
.open-app-container.calendar .fc-event.blue .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.blue .fc-event-time {
  color: var(--calendar-event-blue-o);
}
.open-app-container.calendar .fc-event.red,
.open-app-container.calendar .participants > .imgs > svg.red {
  background-color: var(--calendar-event-red);
  border-color: var(--calendar-event-red-o) !important;
  color: var(--calendar-event-red-o) !important;
}
.open-app-container.calendar .fc-event.red .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.red .fc-event-title,
.open-app-container.calendar .fc-event.red .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.red .fc-event-time {
  color: var(--calendar-event-red-o);
}
.open-app-container.calendar .fc-event.orange,
.open-app-container.calendar .participants > .imgs > svg.orange {
  background-color: var(--calendar-event-orange);
  border-color: var(--calendar-event-orange-o) !important;
  color: var(--calendar-event-orange-o) !important;
}
.open-app-container.calendar .fc-event.orange .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.orange .fc-event-title,
.open-app-container.calendar .fc-event.orange .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.orange .fc-event-time {
  color: var(--calendar-event-orange-o);
}
.open-app-container.calendar .fc-event.green,
.open-app-container.calendar .participants > .imgs > svg.green {
  background-color: var(--calendar-event-green);
  border-color: var(--calendar-event-green-o) !important;
  color: var(--calendar-event-green-o) !important;
}
.open-app-container.calendar .fc-event.green .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.green .fc-event-title,
.open-app-container.calendar .fc-event.green .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.green .fc-event-time {
  color: var(--calendar-event-green-o);
}
.open-app-container.calendar .fc-event.purple,
.open-app-container.calendar .participants > .imgs > svg.purple {
  background-color: var(--calendar-event-purple);
  border-color: var(--calendar-event-purple-o) !important;
  color: var(--calendar-event-purple-o) !important;
}
.open-app-container.calendar .fc-event.purple .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.purple .fc-event-title,
.open-app-container.calendar .fc-event.purple .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.purple .fc-event-time {
  color: var(--calendar-event-purple-o);
}
.open-app-container.calendar .fc-event.turquoise,
.open-app-container.calendar .participants > .imgs > svg.turquoise {
  background-color: var(--calendar-event-turquoise);
  border-color: var(--calendar-event-turquoise-o) !important;
  color: var(--calendar-event-turquoise-o) !important;
}
.open-app-container.calendar .fc-event.turquoise .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.turquoise .fc-event-title,
.open-app-container.calendar .fc-event.turquoise .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.turquoise .fc-event-time {
  color: var(--calendar-event-turquoise-o);
}
.open-app-container.calendar .fc-event.pink,
.open-app-container.calendar .participants > .imgs > svg.pink {
  background-color: var(--calendar-event-pink);
  border-color: var(--calendar-event-pink-o) !important;
  color: var(--calendar-event-pink-o) !important;
}
.open-app-container.calendar .fc-event.pink .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.pink .fc-event-title,
.open-app-container.calendar .fc-event.pink .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.pink .fc-event-time {
  color: var(--calendar-event-pink-o);
}
.open-app-container.calendar .fc-event.yellow,
.open-app-container.calendar .participants > .imgs > svg.yellow {
  background-color: var(--calendar-event-yellow);
  border-color: var(--calendar-event-yellow-o) !important;
  color: var(--calendar-event-yellow-o) !important;
}
.open-app-container.calendar .fc-event.yellow .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.yellow .fc-event-title,
.open-app-container.calendar .fc-event.yellow .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.yellow .fc-event-time {
  color: var(--calendar-event-yellow-o);
}
.open-app-container.calendar .fc-event.lightblue,
.open-app-container.calendar .participants > .imgs > svg.lightblue {
  background-color: var(--calendar-event-lightblue);
  border-color: var(--calendar-event-lightblue-o) !important;
  color: var(--calendar-event-lightblue-o) !important;
}
.open-app-container.calendar .fc-event.lightblue .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.lightblue .fc-event-title,
.open-app-container.calendar .fc-event.lightblue .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.lightblue .fc-event-time {
  color: var(--calendar-event-lightblue-o);
}
.open-app-container.calendar .fc-event.gray,
.open-app-container.calendar .participants > .imgs > svg.gray {
  background-color: var(--calendar-event-gray);
  border-color: var(--calendar-event-gray-o) !important;
  color: var(--calendar-event-gray-o) !important;
}
.open-app-container.calendar .fc-event.gray .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.gray .fc-event-title,
.open-app-container.calendar .fc-event.gray .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.gray .fc-event-time {
  color: var(--calendar-event-gray-o);
}
.open-app-container.calendar .fc-event.lightgray,
.open-app-container.calendar .participants > .imgs > svg.lightgray {
  background-color: var(--calendar-event-lightgray);
  border-color: var(--calendar-event-lightgray-o) !important;
  color: var(--calendar-event-lightgray-o) !important;
}
.open-app-container.calendar .fc-event.lightgray .fc-event-title,
.open-app-container.calendar .participants > .imgs > svg.lightgray .fc-event-title,
.open-app-container.calendar .fc-event.lightgray .fc-event-time,
.open-app-container.calendar .participants > .imgs > svg.lightgray .fc-event-time {
  color: var(--calendar-event-lightgray-o);
}
