.open-app-container.console {
  max-width: 1000px;
  min-height: 50%;
}
.open-app-container.console .app-body {
  height: 100%;
}
.open-app-container.console .app-body .windows {
  display: flex;
  height: calc(100% - 107px);
}
.open-app-container.console .app-body .windows > .window {
  resize: none;
  border: 0;
  border-radius: 10px;
  width: calc(100% - 20px * 2);
  height: calc(100% - 20px * 2);
  padding: 20px 20px;
  outline: none;
  color: var(--darkestGray);
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--console-bg);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.open-app-container.console .app-body .windows > .window::-webkit-scrollbar {
  display: none;
}
