@import "_global.less";

#logo {
    .logo();

    position: fixed;
    bottom: 0;
    right: 0;

    margin: 30px;
    
    > h1 { font-size: 46px; }
}

#apps {
    position: relative;
    top: 8px;
    left: 8px;
    @app-size: 176px;
    @margin-size: 17px;

    // (x * 0.48) / 193 = floor(y) = z boxes
    // x = 2560, y = 6.36, z = 6
    // x = 1920, y = 4.78, z = 4
    // x = 1280, y = 3.18, z = 3
    // x = 1024, y = 2.55, z = 2

    > .app {
        position: relative;
        float: left;
        width: @app-size;
        height: @app-size;
        background-color: white;
        margin-right: @margin-size;
        margin-bottom: @margin-size;
        cursor: pointer;
        border-radius: 10px;

        > i {
            @bg: #global.bg();
            
            background: @bg[gradient-dark];
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 70px;
            line-height: @app-size;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        &:hover {
            position: relative;
            top: -2px;
            left: -2px;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
        }
    }
}