#apps-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
}
#apps-container > #apps {
  position: relative;
}
#apps-container > #apps > .app-container {
  position: relative;
  float: left;
  width: 176px;
  height: 176px;
  margin: 9px;
}
#apps-container > #apps > .app-container.disabled {
  cursor: default;
}
#apps-container > #apps > .app-container.disabled > .app {
  opacity: 0.8;
}
#apps-container > #apps > .app-container.disabled:hover > .app {
  color: var(--error-color) !important;
}
#apps-container > #apps > .app-container:not(.disabled) {
  cursor: pointer;
}
#apps-container > #apps > .app-container > .app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--gradient-input-bg);
  opacity: var(--apps-icon-opacity);
  color: var(--apps-icon-color);
  border-radius: 10px;
}
#apps-container > #apps > .app-container > .app > svg {
  width: 70px;
  height: 100%;
}
#apps-container > #apps > .app-container > .app.groceries > svg {
  width: 62px;
}
#apps-container > #apps > .app-container > .app.settings > svg {
  width: 88px;
}
#apps-container > #apps > .app-container > .app.console > svg {
  width: 58px;
}
#apps-container > #apps > .app-container > .app.accounts > svg,
#apps-container > #apps > .app-container > .app.calendar > svg {
  width: 60px;
}
#apps-container > #apps > .app-container:hover > .app {
  width: 162px;
  height: 162px;
  margin: 7px;
}
#apps-container > #apps > .app-container:hover > .app > svg {
  width: 64px;
}
#apps-container > #apps > .app-container:hover > .app.groceries > svg {
  width: 56px;
}
#apps-container > #apps > .app-container:hover > .app.settings > svg {
  width: 80px;
}
#apps-container > #apps > .app-container:hover > .app.console > svg {
  width: 52px;
}
#apps-container > #apps > .app-container:hover > .app.accounts > svg,
#apps-container > #apps > .app-container:hover > .app.calendar > svg {
  width: 54px;
}
.homes-dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  width: 100%;
  max-width: 500px;
  min-width: 350px;
  top: -120px;
  color: white;
  z-index: 2;
}
.homes-dropdown-container.active + .homes-dropdown-blocker {
  display: block;
}
.homes-dropdown-container.active {
  background-image: linear-gradient(to right, var(--gradient-from-80), var(--gradient-to-80));
  border-radius: 12px;
}
.homes-dropdown-container.active > .homes.selected {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px 12px 0 0;
}
.homes-dropdown-container > .homes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
}
.homes-dropdown-container > .homes > .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}
.homes-dropdown-container > .homes > .home > h1 {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  font-family: 'Roboto';
  font-weight: 200;
  margin: 0;
  max-width: calc(100% - (32px * 5));
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}
.homes-dropdown-container > .homes > .home > .chevron {
  width: 14px;
  padding-top: 6px;
}
.homes-dropdown-container > .homes > .home .icon {
  position: absolute;
  right: 0;
  height: 32px;
  width: 32px;
}
.homes-dropdown-container > .homes > .home:not(.alone) h1,
.homes-dropdown-container > .homes > .home:not(.alone) .icon,
.homes-dropdown-container > .homes > .home:not(.alone) .chevron {
  cursor: pointer;
}
.homes-dropdown-container > .homes.selected > .home {
  padding: 25px 0;
}
.homes-dropdown-container > .homes.selected > .home .icon {
  color: white;
  opacity: 0.7;
}
.homes-dropdown-container > .homes.selected > .home .icon:hover {
  opacity: 1;
}
.homes-dropdown-container > .homes.list > .home {
  cursor: pointer;
}
.homes-dropdown-container > .homes.list > .home > h1,
.homes-dropdown-container > .homes.list > .home .icon {
  pointer-events: none;
}
.homes-dropdown-container > .homes.list > .home > .icon {
  display: none;
  margin-right: 32px;
}
.homes-dropdown-container > .homes.list > .home:last-of-type {
  border-radius: 0 0 12px 12px;
}
.homes-dropdown-container > .homes.list > .home:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.homes-dropdown-container > .homes.list > .home:hover > .icon {
  display: block;
  opacity: 0.8;
}
.homes-dropdown-blocker {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
