#container {
  width: 355px;
  z-index: 1;
}
form {
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 46px;
  float: left;
}
form > .submit {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: relative;
  top: -4px;
  color: var(--gradient-btn-color);
  opacity: var(--gradient-btn-opacity);
  width: 37px;
  line-height: 50px;
  height: 50px;
  margin-left: 9px;
  cursor: pointer;
}
form > .submit:hover,
form > .submit:active {
  opacity: 0.8;
}
.toggle {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin: 6px 0 0 0;
  display: inline-block;
  float: right;
  text-align: right;
  padding-right: 56px;
}
.toggle > i {
  font-style: normal;
}
.toggle > i:first-of-type {
  color: var(--login-p-color);
  opacity: var(--login-p-opacity);
}
.toggle > i:last-of-type {
  color: var(--login-p-sub-color);
  cursor: pointer;
  opacity: var(--login-p-sub-opacity);
}
.toggle > i:last-of-type:hover {
  opacity: 1;
  text-decoration: underline;
}
.pwd-reset {
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin: 6px 0 0 0;
  display: inline-block;
  float: left;
  color: var(--login-p-color);
  opacity: var(--login-p-opacity);
  cursor: pointer;
}
.pwd-reset > i {
  font-style: normal;
}
.pwd-reset:hover {
  color: var(--login-p-sub-color);
  opacity: 1;
  text-decoration: underline;
}
.form-input.signup {
  display: none;
  opacity: 0;
}
.trashDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: 4px;
}
.trashDiv button {
  position: relative;
  float: left;
  margin-left: 6px;
}
.trashDiv .trashLink {
  float: right;
  color: var(--lightGray);
  text-decoration: none;
  margin-right: 10px;
  font-family: 'DM Sans';
}
.trashDiv .trashLink:hover {
  color: white;
  text-decoration: underline;
}
