@import (reference) '../globals/global.less';

.open-app-container {
  > .sidebar {
    position: relative;
    top: -@app[padding];
    left: -@app[padding];
    display: flex;
    flex-direction: column;
    float: left;
    width: 210px;
    height: 100%;
    padding: @app[padding];
    border-right: solid 1px var(--accent-border-color);
    border-radius: @app[border-radius] 0 0 @app[border-radius];
    background-color: var(--accent-bg);
    z-index: 1;

    > .tabs {
      position: relative;
      display: flex;
      flex-direction: column;

      &.top {
        top: 0;

        > .tab {
          svg {
            margin-top: 3px;
            font-size: 15px;
            width: 16px;
          }
        }
      }

      &.bottom {
        max-height: @sidebar[tab-max-height] * @sidebar[max-bottom-tabs];
        margin-top: auto;
        overflow-y: scroll;

        .hide-scrollbar();

        > .tab {
          svg {
            font-size: @sidebar[icon-size];
          }
          img {
            width: @sidebar[icon-size];
            height: @sidebar[icon-size];
            border-radius: 50%;
          }
          h4 {
            height: @sidebar[icon-size];
            line-height: @sidebar[icon-size];
          }
        }
      }

      > .tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: @sidebar[tab-padding] 0;
        cursor: pointer;

        > .left,
        > .right {
          display: flex;
          flex-direction: row;
          width: auto;
          overflow: hidden;
        }
        > .left {
          float: left;
          width: calc(
            100% - @sidebar[badge-size] - @sidebar[counter-margin-right]
          );
        }

        > .right {
          float: right;
          margin-left: auto;
          margin-right: @sidebar[counter-margin-right];

          .counter {
            opacity: 0.6;
            > p {
              .font-default();

              width: @sidebar[badge-size];
              height: @sidebar[badge-size];
              padding: 2px;
              font-size: 12px;
              line-height: @sidebar[badge-size];
              text-align: center;
              color: var(--badge-bg);
              background-color: var(--badge-color);
              border-radius: @sidebar[badge-size];
              margin: 0;
            }

            &.done > p {
              width: 58px;
              margin-right: 19px;
              font-weight: 700;
              background-color: #95ed94;
              color: #028701;
            }
          }
        }

        h4,
        svg {
          float: left;
          color: var(--clickable-accent-bg);
        }

        h4 {
          margin: 0;
          display: block;
          margin-left: 20px;
          white-space: nowrap;
          width: 0;
        }

        &:hover,
        &.selected {
          h4,
          svg {
            color: var(--clickable-accent-bg-hover);
          }
        }
      }
    }
  }

  &.compact {
    > .padding-bg {
      display: none;
      position: relative;
      float: left;
      top: 0;
      left: 0;
      height: 100%;
      background-color: transparent;
      z-index: 0;

      &.hovered {
        display: flex;
      }

      &.with-users {
        width: 91px;
      }

      &:not(.with-users) {
        width: 77px;
      }
    }

    > .sidebar {
      width: auto;

      &:not(.hovered) {
        padding: 60px 30px 60px 30px;

        > .tabs {
          &.top > .tab > .left {
            height: 21px !important;
          }

          > .tab {
            > .left {
              width: auto;
            }

            > .right,
            h4 {
              display: none;
            }
          }
        }

        &.with-users {
          > .tabs.top svg {
            padding-left: 7px;
          }
        }
      }

      &.hovered {
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100% - @app[padding] * 2);

        &:not(.with-users) {
          width: 140px;
        }

        &.with-users {
          width: 210px;
        }
      }
    }
  }
}
