// out: false

@app: {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 60px;
}

@sidebar: {
  tabPadding: 8px;
  iconSize: 30px;
  tabMaxHeight: @sidebar[iconSize] + @sidebar[tabPadding] * 2;
  maxBottomTabs: 4;
  badgeSize: 20px;
  counterMarginRight: 5px;
}
